/* Visual */
.visual {
  margin-top: 120px;
  background-image: url(/images/2023_summer2_promotion_top_pc_bg_1.jpg);
  background-position: center;
  background-size: cover;
  height: 32vw;
  position: relative;
}

.visual .title {
  position: absolute;
  width: 22.6%;
  top: 35.8%;
  left: 11.7%;
}

.visual .title img {
  max-width: 100%;
}

.visual .drink1 {
  position: absolute;
  top: 17.5%;
  left: 49.9%;
  width: 13%;
}

.visual .drink1 img {
  max-width: 100%;
}

.visual .drink2 {
  position: absolute;
  top: 16.9%;
  left: 38%;
  width: 13%;
}

.visual .drink2 img {
  max-width: 100%;
}

.visual .drink3 {
  position: absolute;
  top: 17.2%;
  right: 25.4%;
  width: 13.3%;
}

.visual .drink3 img {
  max-width: 100%;
}

.visual .detail {
  position: absolute;
  width: 22.6%;
  height: 38px;
  top: 62%;
  justify-content: center;
  left: 11.7%;
}

.visual .detail {
  position: absolute;
  top: 61.3%;
  left: 11.7%;
  text-align: center;
  width: 22.6%;
  height: 38px;
}

.visual .detail .btn-visual-detail {
  display: block;
  box-sizing: border-box;
  width: 32%;
  font-size: 12px;
  margin: 0 auto;
  color: #004734;
  border: 2px solid #004734;
  line-height: 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s, color 0.7s;
}

.visual .detail .btn-visual-detail:hover {
  background-color: #004734;
  color: #fff;
  text-decoration: underline;
}

.visual .fade-in {
  opacity: 0;
}

/* Notice */
/* .notice {
} */

.notice .notice-line {
  position: relative;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  height: 62px;
  display: flex;
}

.notice .notice-line .inner__left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  padding-left: 100px;
}

.notice .notice-line .inner__left h2 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper {
  width: 250px;
  height: 62px;
  flex-grow: 1;
}

.notice .notice-line .inner__left .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}

.notice .notice-line .inner__left .swiper-slide a {
  color: #fff;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-right: 10px;
}

.notice .notice-line .inner__left .notice-line__more {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice
  .notice-line
  .inner__left
  .notice-line__more
  .material-symbols-outlined {
  color: #fff;
  font-size: 35px;
}

.notice .notice-line .inner__right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.notice .notice-line .inner__right h2 {
  font-size: 16px;
  font-weight: 700;
  margin-right: 20px;
}

.notice .notice-line .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice
  .notice-line
  .inner__right
  .toggle-promotion
  .material-symbols-outlined {
  font-size: 40px;
  cursor: pointer;
}

.notice .promotion {
  height: 0;
  background-color: #f6f5ef;
  position: relative;
  transition: height 0.5s;
  overflow: hidden;
}

.notice .promotion.open {
  height: 693px;
}

.notice .promotion .swiper {
  width: calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: calc((819px * 3 + 20px) / -2);
}

.notice .promotion .swiper-slide {
  opacity: 0.3;
  transition: opacity 1s;
  position: relative;
}

.notice .promotion .swiper-slide-active {
  opacity: 1;
}

.notice .promotion .swiper-slide .btn-promotion-detail {
  position: relative;
  border: 2px solid #222;
  border-radius: 3px;
  color: #222;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  margin: -50px auto 0;
  text-align: center;
  width: 121px;
  font-weight: 500;
  background-color: transparent;
}

.notice .promotion .swiper-slide .btn-promotion-detail:hover {
  background-color: #222;
  color: #fff;
  text-decoration: underline;
}

.notice .promotion .swiper-pagination {
  bottom: 40px;
  left: 0;
  right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet {
  background-color: transparent;
  background-image: url("/images/promotion_slide_pager.png");
  width: 12px;
  height: 12px;
  margin-right: 6px;
  outline: none;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.notice .promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url("/images/promotion_slide_pager_on.png");
}

.notice .promotion .swiper-prev,
.notice .promotion .swiper-next {
  width: 55px;
  height: 55px;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: 300px;
  z-index: 1;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.notice .promotion .swiper-prev {
  left: 50%;
  margin-left: -530px;
}

.notice .promotion .swiper-next {
  right: 50%;
  margin-right: -530px;
}

.notice .promotion .swiper-prev:hover {
  background-color: #fff;
}

.notice .promotion .swiper-next:hover {
  background-color: #fff;
}

/* Rewards */
.rewards {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #1e3932;
}

.rewards .inner {
  display: flex;
}

.rewards .inner .rewards-logo {
  /* float: left; */
  width: 16.3%;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.rewards .inner .rewards-logo img {
  width: 176px;
}

.rewards .inner .rewards-content {
  box-sizing: border-box;
  /* float: left; */
  width: calc(83.7% - 80px);
  padding-right: 30px;
  color: #fff;
  letter-spacing: 0.5px;
}

.rewards .inner .rewards-content .info-content {
  position: relative;
  margin-bottom: 22px;
  border-bottom: 1px solid #4b615b;
}

.rewards .inner .rewards-content .info-content .info-content-txt {
  margin-bottom: 12px;
}

.rewards .inner .rewards-content .info-content .info-content-txt h2 {
  line-height: 1.4;
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: 500;
}

.rewards .inner .rewards-content .info-content .info-content-txt strong {
  font-weight: 600;
}

.rewards .inner .rewards-content .info-content .info-content-txt p {
  line-height: 1.4;
  font-size: 17px;
}

.rewards .inner .rewards-content .info-content .btn-info-group {
  position: absolute;
  bottom: 20px;
  right: 0;
  font-size: 0;
}

.rewards .inner .rewards-content .info-content .btn-info-group a {
  box-sizing: border-box;
  display: inline-block;
  height: 38px;
  line-height: 36px;
  padding-left: 18.5px;
  padding-right: 18.5px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.rewards .inner .rewards-content .info-content .btn-info-group a.btn-signin {
  background-color: #00704a;
  border: 2px solid #00704a;
}
.rewards .inner .rewards-content .info-content .btn-info-group a.btn-signup {
  margin-left: 9px;
  background-color: transparent;
  border: 2px solid #fff;
}

.rewards .inner .rewards-content .info-content .btn-info-group a:hover {
  text-decoration: underline;
}

.rewards .inner .rewards-content .gift-content {
  position: relative;
}

.rewards .inner .rewards-content .gift-content .gift-content-txt {
  line-height: 1.4;
  font-size: 14px;
}

.rewards .inner .rewards-content .gift-content .btn-egift a {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 183px;
  height: 38px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

.rewards .inner .rewards-content .gift-content .btn-egift a:hover {
  text-decoration: underline;
}

/* Main Bean */
.main-bean {
  background-image: url("/images/2023_summer2_promotion_bg_2.jpg");
  background-position: center;
  background-size: cover;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.main-bean .inner {
  max-width: 1100px;
  height: 100%;
}

.main-bean .bean {
  position: absolute;
  width: 17%;
  left: 14%;
  top: 50%;
  transform: translateY(-50%);
}

.main-bean .bean-text-group {
  position: absolute;
  right: 7.2%;
  width: 30%;
  top: 26%;
}

.main-bean .bean-text-group img {
  width: 350px;
}

.main-bean .bean-text-group .btn-bean {
  width: 125px;
  height: 38px;
  margin-top: 39px;
}

.main-bean .bean-text-group .btn-bean .detail {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  line-height: 34px;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: 0.7s;
}

.main-bean .bean-text-group .btn-bean .detail:hover {
  color: #222;
  text-decoration: underline;
  background-color: #fff;
  font-weight: 600;
}

/* Reserve */
.reserve {
  background-image: url("/images/230418_pc_reserve_bg.jpg");
  background-position: center;
  background-size: cover;
}

.reserve .inner {
  height: 400px;
}

.reserve .inner .reserve-title {
  position: relative;
  padding-top: 68px;
  max-width: 1080px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.reserve .inner .reserve-title img {
  transform: translateX(161px);
  max-width: 100%;
}

.reserve .inner .reserve-visual {
  display: block;
  position: absolute;
  right: -45%;
  bottom: 0;
}

.reserve .inner .reserve-visual img {
  display: block;
}

.reserve .inner .btn-reserve-wrap {
  position: relative;
  z-index: 1;
  max-width: 1080px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 254px;
  box-sizing: border-box;
}

.reserve .inner .btn-reserve {
  width: 125px;
  height: 36px;
  text-align: center;
}

.reserve .inner .btn-reserve .detail {
  display: block;
  line-height: 36px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  transition: 0.7s;
}

.reserve .inner .btn-reserve .detail:hover {
  color: #222;
  text-decoration: underline;
  background-color: #fff;
}

/* Favorite */
.favorite {
  background: url("/images/2023_summer2_pick_bg.jpg") center center fixed
    no-repeat #45434c;

  background-size: auto 87%;
  padding: 0;
  background-position: bottom;
}

.favorite .inner {
  height: 800px;
}

.favorite .favorite-text-group {
  position: absolute;
  top: 160px;
  width: 353px;
  height: 480px;
}

.favorite .favorite-text-group .favorite-text-title {
  position: absolute;
  width: 258px;
  height: 204px;
  right: 0;
}
.favorite .favorite-text-group .favorite-text-title img {
  max-width: 100%;
}

.favorite .favorite-text-group .favorite-text-description {
  position: absolute;
  width: 353px;
  height: 156px;
  top: 245px;
  right: 0;
}
.favorite .favorite-text-group .favorite-text-description img {
  max-width: 100%;
}

.favorite .favorite-text-group .btn-favorite {
  position: absolute;
  bottom: 10px;
  right: 0;
  width: 125px;
  height: 38px;
}

.favorite .favorite-text-group .btn-favorite .detail {
  display: block;
  line-height: 36px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.7s;
}

.favorite .favorite-text-group .btn-favorite .detail:hover {
  color: #222;
  text-decoration: underline;
  background-color: #fff;
}

.favorite .favorite-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -240px;
  width: 912px;
  height: 575px;
}

.favorite .favorite-image img {
  max-width: 100%;
}

/* Reserve Magazine */
.reserve-magazine {
  background: url("/images/reserve_bg_pc.png") no-repeat 50% 100%;
  background-size: auto 353px;
  position: relative;
  overflow: hidden;
  height: 400px;
}

.reserve-magazine .inner {
  height: 400px;
}

.reserve-magazine .reserve-magazine-title {
  position: relative;
  width: 100%;
  padding-top: 135px;
  padding-left: 55px;
  max-width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
}

.reserve-magazine .reserve-magazine-title img {
  transform: translateX(161px);
}

.reserve-magazine .reserve-magazine-visual {
  display: block;
  position: absolute;
  bottom: auto;
  top: 0;
  right: 50%;
  margin-right: -483px;
}

.reserve-magazine .reserve-magazine-visual img {
  max-width: none;
  min-width: auto;
}

.reserve-magazine .btn-reserve-magazine-wrap {
  position: absolute;
  width: 100%;
  z-index: 1;
  max-width: 1100px;
  left: 0;
  right: 0;
  margin: 33px auto 0;
  box-sizing: border-box;
}

.reserve-magazine .btn-reserve-magazine-wrap .btn-reserve-magazine {
  box-sizing: border-box;
  padding-left: 225px;
  width: 583px;
  height: 36px;
}

.reserve-magazine .btn-reserve-magazine-wrap .btn-reserve-magazine .detail {
  display: block;
  line-height: 32px;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #000;
  border-radius: 5px;
  width: 125px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  transition: 0.7s;
  box-sizing: border-box;
}

.reserve-magazine
  .btn-reserve-magazine-wrap
  .btn-reserve-magazine
  .detail:hover {
  color: #fff;
  text-decoration: underline;
  background-color: #000;
}

/* Store */
.store {
  background-image: url("/images/store_bg.jpg");
  background-size: 100% auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.store .inner {
  height: 400px;
}

.store .store-img01 {
  position: absolute;
  top: 149px;
  left: 300px;
  height: 228px;
  z-index: 1;
}

.store .store-img02 {
  position: absolute;
  top: 0;
  left: 70px;
  height: 312px;
  width: 366px;
}

.store .store-img03 {
  position: absolute;
  top: -60px;
  left: 430px;
  width: 343px;
  height: 142px;
}

.store .store-img04 {
  position: absolute;
  top: 298px;
  right: -60px;
  width: 230px;
  height: 102px;
}

.store .store-text-group {
  position: absolute;
  top: 100px;
  width: 374px;
  left: 650px;
}

.store .store-text-group .store-text-title {
  margin-bottom: 20px;
}

.store .store-text-group .store-text-description {
  margin-bottom: 40px;
}

.store .store-text-group .btn-store {
  width: 121px;
  height: 36px;
}

.store .store-text-group .btn-store .search {
  display: block;
  line-height: 32px;
  color: #222;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #222;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  transition: 0.7s;
}

.store .store-text-group .btn-store .search:hover {
  color: #fff;
  text-decoration: underline;
  background-color: #222;
}
